.app {
  background-color: #2e3032;
}

.header_image {
  background-image: url('https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png');
  margin-top: 0;
 
}

.card_hover :hover{
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

  background-color: lightslategray;
  cursor: pointer;
}


.filelabel {
  max-width:450px ;
height:100px;
  border: 2px dashed white;
  border-radius: 5px;
  display: block;
  padding: 5px;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}
.filelabel i {
  display: block;
  font-size: 30px;
  padding-bottom: 5px;
}
.filelabel i,
.filelabel .title {
color: white;
transition: 200ms color;
}
.filelabel:hover {
border: 2px solid grey;
}
.filelabel:hover i,
.filelabel:hover .title {
color: grey;
}
#FileInput{
  display:none;
}

.modalimage{
  background-image: url('https://as2.ftcdn.net/v2/jpg/03/74/69/71/1000_F_374697191_ZB0yp0kLjKsnlS6Z67ZdETqNrHtv6a0V.jpg');
  height: 250px;
  width: 500px;
  /* max-width: 50vw; */
  color: white;
}

.modalimage1{
  background-image: url('https://as2.ftcdn.net/v2/jpg/03/74/69/71/1000_F_374697191_ZB0yp0kLjKsnlS6Z67ZdETqNrHtv6a0V.jpg');
  height: 150px;
  width: 300px;
  /* max-width: 50vw; */
  color: white;
  margin-top: 0;
  
}

.filelabel1 {
  max-width:450px ;
height:100px;
  border: 2px dashed white;
  border-radius: 5px;
  display: block;
  padding: 5px;
  /* transition: border 300ms ease; */
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.line{
  border-bottom: 6px solid rgb(80, 80, 78);
    width: 50px;
    margin: auto;
}

.icons{
  color: light grey;
  cursor: pointer;
  padding:'20px';
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.icons :hover{
  color: yellowgreen;
}

.list {
  margin-top: 10px;
}



  .footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #33334d;
    color: #c2c2d6;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer :hover{
 color:green;
}

